   * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
    }

    body {
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        background: url(../img/airplane-flying-cloudy-sky.jpg);
        backdrop-filter: brightness(50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .brightness-box {
        z-index: 999;

        background-color: rgb(189, 187, 187);
        padding: 15px;
        border-radius: 10px;
    }

    input {
        width: 200px;
    }

    input:hover {
        cursor: pointer;
    }